#r3f-canvas canvas {
  position: fixed;
  width:  100%;
  height: 100%;
  top: 0;
  left: 0;
}

.App {
  text-align: center;
  position: absolute;
  top: 0;
}

.vr {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  pointer-events: all;

  display: inline-block;
  position: absolute;

  left: 0;

  width: 100vw;
  height: 1.75em;

  margin-top: 0;
  padding-top: 0.5em;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  border-radius: 0.55em;

  background-color: #7f7f7f24;
  color: #7b7b7b; 

}

.navigation {
  display: inline-block;
  position: relative;
  top: 0;
  margin: auto;
  width: 60vw;
  min-width: 22em;
  height: 2.75em;
  color: #7b7b7b; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizon { 
  background: linear-gradient(90deg, 
              #ff21d620 0%,  #ff21d640  20%
              #ffffff20 40%, #ffffff20  60%
              #21d6ff20 80%, #21d6ff40 100%
              ); 
}

.App-link {
  color: #ffffff;
  box-shadow: 0.5em 0.5em 1.6em #d23fff77;
  background:#ff21d620;
  padding: 0.2em;
  border-radius:0.2em;

}

h1 {
  text-shadow: 3px 15px 42px #00000044, 1px 3px 10px #00000074;
}

p {
  margin-bottom: 1em;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}