html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {

    padding: 0;
    margin: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#f4f4f4;
}

main {
    max-width: 66vw;
    min-width: 320px;
    height: 75vh;
    min-height: 320px;
    margin: auto;
}

.App {
    pointer-events: none;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vr {
    display: none;
} 

.App-header {
  
    display: inline-block;
    position: absolute;
  
    left: 0;
  
    width: 100vw;
    height: 1.75em;
  
    margin-top: 0;
    padding-top: 0.5em;
  
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  
    border-radius: 0.55em;

    color: #7b7b7b; 
  
  }
  
  .navigation {
    height: 2.75em;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    color: #7b7b7b; 
    font-size: 3.5vw !important;
  }
  


section {
    display: inline-block;
}

section div.ds_combinations {
    display: inline-block;
    width: 33%;
    height: 100%;
    overflow: auto;
}


.shape {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
}

p {
 padding: 1em;   
}

h1 {
    text-shadow: 3px 15px 42px #00000044, 1px 3px 10px #00000074;
    padding-left: 1em;
    color: white;
    margin-top: 2em;
    font-size: 3.5vw;
}

h2 {
    color: #b2b2b2;
    padding-left: 1.3em;
    text-shadow: 0px 1px 1px #00000000;
    background: white;
    box-shadow: inset -1px 1px 4px 2px #00000036;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.shape h3 {
    color: #ff6acf;
    background: white;
    padding: 0.5em;
}  


.fullScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }